<h1>Application #<%= @application.id %></h1>

<h3>Applicant Name: <%= @application.name %></h3>

<p> Applicant's Address: 
    <%= @application.street_address %>,
    <%= @application.city %>,
    <%= @application.state %>
    <%= @application.zip_code %> </p>

<h3> Why will this home be a good home for the pet(s)? </h3>
<p> <%= @application.description %> </p>

<h3> Pets Being Applied For: </h3>
<ul>
    <% @app.each do |pet| %>
    <li> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </li>
    <% end %>
</ul>

<h3> Application Status: </h3>
<%= @application.status %>

