<h1>Application #<%= @application.id %></h1>
<h3>Application Status: <%= @application.status %></h3>

<br>

<h3>Applicant Name: <%= @application.name %></h3>

<p>Applicant's Address: 
  <%= @application.street_address %>,
  <%= @application.city %>,
  <%= @application.state %>
  <%= @application.zip_code %>
</p>

<h3>Why will this home be a good home for the pet(s)?</h3>
<p><%= @application.description %></p>

<h3>Pets Being Applied For:</h3>
<ul>
  <% @pets.each do |pet| %>
    <li><%= link_to "#{pet.name}", "/pets/#{pet.id}" %></li>
  <% end %>
</ul>

<div id="add_pet">
<h3>"Add a Pet to this Application"</h3>
    <%= form_with url: "/applications/#{@application.id}?search", method: :get, data: { turbo: false }, local: true do |form| %>
    <%= form.label :search %>
    <%= text_field_tag :search, params[:search] %><br>
    <br>
    <%= form.submit 'Search by Pet Name' %>
    <% end %>

    <% if @pets2.present? %>
    <ol>
        <% @pets2.each do |pet| %>
        <li><%= pet.name %></li>
        <ul>
            <li>Breed: <%= pet.breed %></li>
            <li>Age: <%= pet.age %></li>
        </ul>
        <% if pet.adoptable == true %>
            <%= form_with url: "/applications/#{@application.id}", method: :post do |form| %>
            <%= form.hidden_field :add_pet, value: pet.id %>
            <br>
            <%= form.submit "Add Pet to this Application" %>
            <% end %>
        <% end %>
        <% end %>
    </ol>
    <% else %>
    <p>Please search for a pet to add to this application.</p>
    <% end %>
</div>