<h1>Application #<%= "#{@application.id}" %></h3>

<h2>Applicant name: <%= @application.name %></h2><br>
<p>Address: <%= @application.street_address %></p>
<p>City: <%= @application.city %></p>
<p>State: <%= @application.state %></p>
<p>Zip: <%= @application.zip_code %></p><br>

<h3>Why this pet will fit in your home:</h3>
<p><%= @application.description %></p>

<h3> Pets Being Applied For: </h3>
<ul>
  <% @pets.each do |pet| %>
    <li> <%= link_to "#{pet.name}", "/pets/#{pet.id}" %> </li>

    <% form_with url: "/admin/applications/#{@application.id}", method: :patch, data: { turbo: false} do |form| %>
      <% if @application_pets.status != "Accepted" %>
        <%= binding.pry %>
        <% form.hidden_field :approved_pet, value: pet.id  %> 
        <%= form.submit "Approve" %>
      <% elsif @application_pet.status = "Accepted" %>
        <%= "Accepted" %>
      <% end %>
    <% end %>
    <% form_with url: "/admin/applications/#{@application.id}", method: :patch, data: {turbo: false} do |form| %>
      <% if @application_pets.status != "Accepted" %>
          <% form.hidden_field :reject_pet, value: pet.id  %> 
          <%= form.submit "Reject" %>
        <% elsif @application_pet.status = "Rejected" %>
          <%= "Rejected" %>
        <% end %>
      <%end%>
  <% end %>
</ul>

